{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row fullContent border border-dark rounded-3 text-center" style="background-color:#E2E4EA";>
                <h1>Boston Housing Price Prediction Model</h1>
                <!-- Container for left side column contents -->
                <div class="col-4 container float-left leftPage  " style="background-color:#E2E4EA;">
                    <br>
                    <br>
                    <br>
                    <br>
                    <!-- Container for data description -->
                    <div class="row container leftPageTitle">
                        <h2>About the data</h2>
                        <p align="justify">The model predicts the housing prices in Boston area.
                            The dataset used contains information collected by the U.S Census Service concerning housing
                            in the area of Boston Mass.
                        </p>
                        <p align="justify">
                            Since the dataset is quite old, the housing prices predicted does
                            not reflect the current prices by any means.
                        </p>
                        <p align="justify">
                            Though the original dataset can be obtained from
                            the  <a href="http://lib.stat.cmu.edu/datasets/boston">StatLib archive</a>, in this project, I have used the
                            pre-loaded dataset from Scikit learn library.
                        </p>
                    </div>
                    <hr>
                    <div class="row container">
                        <h3>Data collected from</h3>
                        <a href="#">Click here</a>
                        <hr>
                    </div>
                </div>
                <!-- Container for right side column contents -->
                <div class="col-7 container rightPage  border border-dark rounded-3">
                    <br>
                    <!-- Container for input values -->
                    <div class="row container rightPageInputs">
                        <div class="row text-center">
                            <h2>Enter the input values</h2>
                        </div>
                        <!-- Form for collecting input from user -->
                        <form action="/predict" method="POST">
                            <br>
                            <div class="col-12" align="left">
                                <!-- Input CRIM -->
                                <div class="row">
                                    <div class="col-8">
                                        <label for="crim">Per capita crime rate</label>
                                    </div>
                                    <div class="col-4" align="right">
                                        <input type="number" step=any placeholder="CRIM" class="form-control" id="crim" name="crim" required="required">
                                    </div>
                                </div>
                                <br>
                                <!-- Input ZN -->
                                <div class="row">
                                    <div class="col-8">
                                        <label for="zn">Proportion of residential land zoned for lots over 25,000 sq.ft</label>
                                    </div>
                                    <div class="col-4" align="right">
                                        <input type="number" step=any placeholder="ZN" class="form-control" id="zn" name="zn" required="required">
                                    </div>
                                </div>
                                <br>
                                <!-- Input INDUS -->
                                <div class="row">
                                    <div class="col-8">
                                        <label for="indus">Proportion of non-retail business acres per town</label>
                                    </div>
                                    <div class="col-4" align="right">
                                        <input type="number" step=any placeholder="INDUS" class="form-control" id="indus" name="indus" required="required">
                                    </div>
                                </div>
                                <br>
                                <!-- Input CHAS -->
                                <div class="row">
                                    <div class="col-8">
                                        <label for="chas">Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)</label>
                                    </div>
                                    <div class="col-4" align="right">
                                        <input type="number" step=any placeholder="CHAS" class="form-control" id="chas" name="chas" required="required">
                                    </div>
                                </div>
                                <br>
                                <!-- Input NOX -->
                                <div class="row">
                                    <div class="col-8">
                                        <label for="nox">Nitrogen oxides concentration (parts per 10 million)</label>
                                    </div>
                                    <div class="col-4" align="right">
                                        <input type="number" step=any placeholder="NOX" class="form-control" id="nox" name="nox" required="required">
                                    </div>
                                </div>
                                <br>
                                <!-- Input RM -->
                                <div class="row">
                                    <div class="col-8">
                                        <label for="rm">Average number of rooms per dwelling.</label>
                                    </div>
                                    <div class="col-4" align="right">
                                        <input type="number" step=any placeholder="RM" class="form-control" id="rm" name="rm" required="required">
                                    </div>
                                </div>
                                <br>
                                <!-- Input AGE -->
                                <div class="row">
                                    <div class="col-8">
                                        <label for="age">Proportion of owner-occupied units built prior to 1940</label>
                                    </div>
                                    <div class="col-4" align="right">
                                        <input type="number" step=any placeholder="AGE" class="form-control" id="age" name="age" required="required">
                                    </div>
                                </div>
                                <br>
                                <!-- Input DIS -->
                                <div class="row">
                                    <div class="col-8">
                                        <label for="dis">Weighted mean of distances to five Boston employment centres</label>
                                    </div>
                                    <div class="col-4" align="right">
                                        <input type="number" step=any placeholder="DIS" class="form-control" id="dis" name="dis" required="required">
                                    </div>
                                </div>
                                <br>
                                <!-- Input RAD -->
                                <div class="row">
                                    <div class="col-8">
                                        <label for="rad">Index of accessibility to radial highways</label>
                                    </div>
                                    <div class="col-4" align="right">
                                        <input type="number" step=any placeholder="RAD" class="form-control" id="rad" name="rad" required="required">
                                    </div>
                                </div>
                                <br>
                                <!-- Input TAX -->
                                <div class="row">
                                    <div class="col-8">
                                        <label for="tax">Full-value property-tax rate per \$10,000</label>
                                    </div>
                                    <div class="col-4" align="right">
                                        <input type="number" step=any placeholder="TAX" class="form-control" id="tax" name="tax" required="required">
                                    </div>
                                </div>
                                <br>
                                <!-- Input PTRATIO -->
                                <div class="row">
                                    <div class="col-8">
                                        <label for="ptratio">Pupil-teacher ratio by town</label>
                                    </div>
                                    <div class="col-4" align="right">
                                        <input type="number" step=any placeholder="PTRATIO" class="form-control" id="ptratio" name="ptratio" required="required">
                                    </div>
                                </div>
                                <br>
                                <!-- Input B -->
                                <div class="row">
                                    <div class="col-8">
                                        <label for="b">Value=1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town</label>
                                    </div>
                                    <div class="col-4" align="right">
                                        <input type="number" step=any placeholder="B" class="form-control" id="b" name="b" required="required">
                                    </div>
                                </div>
                                <br>
                                <!-- Input LSTAT -->
                                <div class="row">
                                    <div class="col-8">
                                        <label for="lstat">Lower status of the population (percent)</label>
                                    </div>
                                    <div class="col-4" align="right">
                                        <input type="number" step=any placeholder="LSTAT" class="form-control" id="lstat" name="lstat" required="required">
                                    </div>
                                </div>
                                <br>
                            </div>
                            <br>
                            <!-- Predict Button-->
                            <div class="row" style="width:100%; height:75px;">
                                <div class="col">
                                    <button type="submit" style="width:40%" class="btn btn-primary right">Predict</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer><p>Created by Retin P Kumar © 2021</p></footer>
    </main>
{% endblock %}